html {
	overflow: hidden;
}

body {
	overflow: auto;
}

html, body {
	margin: 0;
	height: 100%;
	font-family: sans-serif;
}
				
a,
a:hover,
a:active,
a:visited,
a:focus {
	text-decoration: none; color:inherit;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#app {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
	min-height: 600px;
	background-color:  var( --app-bg );
	color: var( --app-color );
	font-size: var( --app-fontSize );
	transition: background-color var( --app-transitionDuration );
}
#app.main {
	font-size: var( --app-main-fontSize );
}

	#controls {
		display: flex;
		box-sizing: border-box;
	}
	#app.main #controls {
		flex: 1;
		flex-direction: column;
		flex-wrap: wrap;
		height: initial;
	}
	#app.result #controls {
		flex-wrap: nowrap;
		height: var( --controls-result-height );
		box-shadow: var( --result-bs-top );
		z-index: 1;
	}

		#theme {
			padding: 0.2em;
			font-size: var( --app-fontSize );
		}
		#app.main #theme {
			align-self: flex-end;
		}
		#app.result #theme {
			order: 1;
		}

		#logo {
			background: no-repeat center url( "../assets/icon.svg" );
			filter: var( --logo-filter );
			transition: filter var( --app-transitionDuration );
			border-radius: 40%;
		}
		#app.main #logo {
			width: var( --logo-main-size );
			height: var( --logo-main-size );
			margin-top: 1em;
			align-self: center;
			background-size: contain;
		}
		#app.result #logo {
			width: var( --logo-result-width );
			background-size: 80%;
		}

		#search {
			display: flex;
			flex-direction: column;
			justify-content: center;
			transition: filter var( --app-transitionDuration );
		}
		#app.main #search {
			align-items: center;
		}
		#app.result #search {
			flex: 1;
			overflow: hidden;
		}

			#search input {
				border: 0;
				border-radius: var( --search-bdRadius );
				color: var( --app-color );
				background-color: var( --search-bg );
				outline: none;
				box-sizing: border-box;
				transition: background-color var( --app-transitionDuration );
			}
			#search input:focus {
				background-color: var( --search-bg-focus );
			}
			#app.main #search input {
				flex: initial;
				justify-content: initial;
				width: var( --search-main-input-width );
				height: initial;
				margin-top: initial;
				padding: .8em .6em;
				font-size: var( --app-main-fontSize );;
			}
			#app.result #search input {
				height: var( --search-result-input-height );
				padding: 0 .6em;
				margin-top: 10px;
				font-size: var( --app-fontSize );
			}
			#app.main #search input,
			#app.main #keywords {
				margin-top: .5em;
			}


		#app.main #keywords {
			display: block;
			width: var( --keywords-main-width );
			padding: 0 .4em;
			margin-top: 1em;
			text-align: center;
			box-sizing: border-box;
		}
		#app.result #keywords {
			flex: 1;
			display: flex;
			order: 2;
			align-items: center;
			overflow: auto;
		}
			#keywords a {
				padding: 0 .5em;
				border-radius: 15px;
				background-color: var( --keywords-bg );
				font-size: var( --keywords-fontSize );
				transition: background-color var( --app-transitionDuration );
				text-decoration: none;
			}
			#keywords a:before {
				font-family: FontAwesome;
				content: "\f02b";
				font-size: .7em;
				margin-right: .3em;
			}
			#keywords a:hover {
				background-color: var( --keywords-bg-focus );
			}
			#keywords a + a {
				margin-left: 10px;
			}
				#app.main #keywords a {
					font-size: var( --keywords-main-fontSize );
				}

	#result {
		overflow: auto;
		flex: 2.5;
		padding: 0 var( --result-gsuiAudioBlock-marginSide );
		background-color: var( --result-bgColor );
		font-size: 0;
		transition: background-color var( --app-transitionDuration );
	}
		.gsuiAudioBlock {
			position: relative;
			display: inline-flex;
			height: var( --result-gsuiAudioBlock-height );
			width: calc( 25% - var( --result-gsuiAudioBlock-marginSide ) * 2 );
			margin: 10px var( --result-gsuiAudioBlock-marginSide ) 0;
		}
		.gsuiAudioBlock.selected .gsui-head::before {
			float: right;
			font-family: FontAwesome;
    		content: "\f058";
		}

	#selection {
		flex: 1.8;
		display: flex;
		flex-direction: column;
		box-shadow: var( --result-bs-bottom );
	}
		#selection #info {
			display: flex;
			padding: .1em .3em;
			font-size: var( --app-selection-info );
			font-variant: all-small-caps;
		}
		#selection #info span.title {
			flex: 1;
		}
		#selection #info span.selected_nb {
			flex: .04;
			text-align:right;
		}
		#selection #selected {
			flex: 1;
		}

	#app.main #result,
	#app.main #selection {
		flex: 0;
		display: none;
	}
