html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	font-family: sans-serif;
}
				
a,
a:hover,
a:active,
a:visited,
a:focus {
	text-decoration: none; color:inherit;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#app {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color:  var( --app-bg );
	color: var( --app-color );
	font-size: var( --app-fontSize );
	transition: background-color var( --app-transitionDuration );
}
#app.main {
	font-size: var( --app-main-fontSize );
}

	#controls {
		display: flex;
		flex-wrap: wrap;
		height: var( --app-controls-height );
		box-sizing: border-box;
		box-shadow: var( --app-result-bs-top );
		z-index: 1;
	}
	#app.main #controls {
		flex: 1;
		flex-direction: column;
	}

		#theme {
			order: 1;
			align-self: flex-start;
			padding: 0.2em;
			font-size: var( --app-fontSize );
		}
		#app.main #theme {
			order: 0;
			align-self: flex-end;
		}

		#logo,
		#logo a {
			width: var( --app-logo-width );
			height: var( --app-logo-height );
		}
		#logo {
			background: no-repeat center url( "../assets/icon.svg" );
			filter: var( --app-logo-filter );
			background-size: 80%;
			transition: filter var( --app-transitionDuration );
		}
			#logo a {
				display: block;
			}
		#app.main #logo {
			width: var( --app-main-logo-width );
			height: var( --app-main-logo-height );
			min-height: 150px;
			background-size: contain;
		}
			#app.main #logo a {
				margin: auto;
				width: var( --app-main-logo-height );
				height: var( --app-main-logo-width );
			}

		#search {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: center;
			transition: filter var( --app-transitionDuration );
		}
			#search input {
				height: var( --app-search-input-height );
				padding: 0 .6em;
				margin-top: 10px;
				border: 0;
				border-radius: var( --app-search-bdRadius );
				color: var( --app-color );
				background-color: var( --app-search-bg );
				font-size: var( --app-fontSize );
				outline: none;
				box-sizing: border-box;
				transition: background-color var( --app-transitionDuration );
			}
			#search input:focus {
				background-color: var( --app-search-bg-focus );
			}
		#app.main #search {
			flex: initial;
			padding-top: 1em;
			align-items: center;
		}
			#app.main #search input {
				padding: .8em .6em;
				font-size: var( --app-main-fontSize );;
			}

		#keywords {
			display: flex;
			order: 2;
			flex: 1;
			align-items: center;
		}
		#keywords a {
			padding: 0 .5em;
			border-radius: 15px;
			background-color: var( --app-keywords-bg );
			font-size: var( --app-keywords-fontSize );
			white-space: nowrap;
			transition: background-color var( --app-transitionDuration );
		}
		#keywords a:hover {
			background-color: var( --app-keywords-bg-focus );
		}
		#keywords a + a {
			margin-left: 10px;
		}
			#keywords i {
				font-size: .7em;
				margin-right: .3em;
			}
			#app.main #keywords {
				display: block;
				width: var( --app-main-keywords-width );
				padding: 1em .4em 0;
				text-align: center;
			}
				#app.main #keywords a {
					text-decoration: none;
					font-size: var( --app-main-keywords-fontSize );
				}

	#result {
		flex: 2.5;
		padding-right: var( --app-result-gsuiAudioBlock-marginLeft );
		background-color: var( --app-result-bgColor );
		font-size: 0;
		transition: background-color var( --app-transitionDuration );
	}
		.gsuiAudioBlock {
			position: relative;
			display: inline-block;
			height: var( --app-result-gsuiAudioBlock-height );
			width: calc( 25% - var( --app-result-gsuiAudioBlock-marginLeft ) );
			margin: 10px 0 0 var( --app-result-gsuiAudioBlock-marginLeft );
		}

	#selection {
		flex: 1.8;
		display: flex;
		flex-direction: column;
		box-shadow: var( --app-result-bs-bottom );
	}
		#selection #info {
			display: flex;
			padding: .1em .3em;
			font-size: var( --app-selection-info );
			font-variant: all-small-caps;
		}
		#selection #info span.title {
			flex: 1;
		}
		#selection #info span.selected_nb {
			flex: .04;
			text-align:right;
		}
		#selection #selected {
			flex: 1;
		}

	#app.main #result,
	#app.main #selection {
		flex: 0;
		display: none;
	}
