:root {
	--app-bg: #3D5A68;
	--app-page1-fontSize: 36px;
	--app-page2-fontSize: 24px;
	--app-color: #9fb9c5;

	--app-page2-controls-height: 110px;

	--app-page2-theme-width: 17px;

	--app-page1-logo-width: 100%;
	--app-page1-logo-height: 300px;
	--app-page2-logo-width: var( --app-page2-controls-height );
	--app-page2-logo-height: 100%;

	--app-search-bg: rgba(255, 255, 255, 0.08);
	--app-search-bg-focus: rgba(255, 255, 255, 0.1);
	--app-search-bdRadius: 4px;
	--app-page2-search-input-height: 50%;

	--app-keywords-bg: rgba(255, 255, 255, 0.12);
	--app-keywords-bg-focus: rgba(255, 255, 255, 0.16);
	--app-page1-keywords-width: 50%;
	--app-page1-keywords-fontSize: 30px;
	--app-page2-keywords-fontSize: 20px;

	--app-result-bs-top: 0 2px 2px rgba(0, 0, 0, 0.17);
	--app-result-bs-bottom: 0 -2px 2px rgba(0, 0, 0, 0.17);
	--app-result-bgColor: rgba(255, 255, 255, 0.03);
	--app-result-gsuiAudioBlock-marginLeft: 10px;
	--app-result-gsuiAudioBlock-height: 70px;

	--app-selection-info: 20px;
}